@media screen and(max-width: 800px){
    body{
        overflow:scroll;
        
    }
}
body{
    background: pink;
}

ul{
    list-style-type: none;
}


ul li a{
    text-decoration: none;
    padding: 15px;
    float: left;
     width: 100px;
    color:black; 
    
    
} 
body div{
    display:block;
}





.categories{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    
   
}
nav{
    background: pink;
    color: yellow;
}
img{
    border-radius: 18px;
    max-width: 90%;
}
h2{
    font-size: small;
}


