@media screen and(max-width: 800px){
    body{
        overflow:scroll;
        
    }
}
body{
    background: pink;
}

ul{
    list-style-type: none;
}


ul li a{
    text-decoration: none;
    padding: 15px;
    float: left;
    width: 250px;
    color:black;
    
    
} 
body div{
    display:block;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}



.categories{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    
   
}
nav{
    background: pink;
    color: yellow;
}
img{
    border-radius: 15%;
}
@media screen and(max-width: 800px){
    .categories{
        overflow:scroll;
        
    }
}
