{% extends 'base.html.twig' %}

{% block title %}Hello CgvController!{% endblock %}

{% block body %}
<h2>CGV</h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Dignissimos sequi at sint excepturi asperiores cum, ex accusantium, 
     atque accusamus consequatur perferendis vero fugiat et ratione! In dolor
      perspiciatis molestias eos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laborum,
       molestias perferendis at saepe, 
      facere est eius, quisquam omnis tenetur placeat veritatis explicabo
       possimus qui temporibus repellendus ex nihil nobis!
   </p>

{% endblock %}
