{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <title>soBeauty</title>


 
    
   
    
 

<body>
<div class="categories">
     <div>
        <h2>épilation</h2>
        <img src="img/jambes.jpg" alt="photo jambe" height="160px" width="260px"/>
     </div>
     <div>
         <h2>manicure</h2>
         <img src="img/soinManicure.jpg" alt="photo manicure" height="160px" width="260"/>
     </div>
     <div>
        <h2>massage</h2>
        <img src="img/massage.jpg" alt="photo massage" heigth="320" width="260"/>
     </div>
     <div>
        <h2>visage</h2>
        <img src="img/soinVisage.jpg" alt="photo visage" height="160px" width="260px"/>
     </div>
</div>
    
</body>

</html>
{% endblock %}
