{% extends 'base.html.twig' %}

{% block title %}Hello CguController!{% endblock %}

{% block body %}
<h2>CGU</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quae tempore voluptatem praesentium quibusdam ipsa! Consequatur adipisci harum,
     ut cupiditate, quis unde laudantium repellendus blanditiis tempora possimus dolor nam totam!Loremlo Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellat facere.
      Voluptates dolore saepe minus illo distinctio quidem deleniti nihil,
      itaque quaerat ut accusamus beatae possimus similique nisi amet suscipit.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum iusto dolore.
        Dolorum rem quidem dignissimos nesciunt similique unde molestias beatae omnis eaque quos. 
        Fuga quam ipsa cum culpa deleniti.
</p>
{% endblock %}
